<ion-view title="<a href='#/'>Boga Delivery</a>">

<ion-nav-bar class="navbar">
	<ion-nav-back-button class="button-clear" style="color:#bc1e2d;margin-top:-5px">
		<i class="ion-arrow-left-b" style="color:#fff;vertical-align:40%"></i> 
		<img alt="Brand" src="img/boga_icon.png" id="brand" style="height:40px;width:auto;margin-top:0px"/>
    </ion-nav-back-button>
	

	<ion-nav-buttons side="right">
		<a href="#/login" class="button-clear" ng-hide="logged_in" style="text-decoration:none">
			<i class="ion-person icon-header"> Login</i>
		</a>
			
		<button class="button-clear" ng-click="openPopover($event)" ng-show="logged_in">
			<i class="ion-person icon-header"></i>
		</button>
    </ion-nav-buttons>
</ion-nav-bar>


<ion-content style="background-color:#eee">

<div ng-hide="searchInput">
  	<div class="item item-text-wrap" style="font-size:12px">
		{{full_address}}
	</div>
</div>

<div ng-show="searchInput" class="padding">
	<label class="item item-input">
		<input type="text" id="addr_input" placeholder="Search your address"/>
	</label>
</div>

<div id="map"></div>

</ion-content>

<div class="bar bar-subfooter" style="position:fixed;padding-bottom:5px;bottom:0px;width:100%;text-align:center;height:75px">
	<div ng-if="areaCoverage>0">
    	{{areaCoverage}} Restaurants Found Near Your Location. <a href="#/search" class="button button-balanced button-block">Show Restaurants</a>
    </div>

    <div ng-if="areaCoverage==0">
    	No Restaurants Found! <br/><button class="button button-assertive button-block" ng-click="searchAddress()">Search Other Address</button>
    </div>
</div>

</ion-view>